@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
     <div class="eScore">
        <p>
            Player Score: @ball.playerScore
        </p>
    </div>
</root>

@code
{
    [Property] BallMovement ball { get; set; }
    protected override int BuildHash()
    {
        return System.HashCode.Combine(ball.playerScore);
    }
}
